<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level %class\(%F:%L\)%n%msg%n</pattern>-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} %thread %-5level %class\(%F:%L\)%n\t%msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %thread %-5level %class:%L\(%F:%L\)%n\t%msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>